# Lab One
---

Ok for this lab we're going to reiterate a lot of the things that we went over in class.

Our Goals are:
- Defining variables
- Using math
- Manipulating variables
- Changing data types
- Playing with lists

In [10]:
# Define 4 variables, one of each type listed: [Integer, String, Boolean, Float]. Print all 4.

In [11]:
# String
"hope ur having a good day"
Greeting = 'Nice to meet you,'
This_Student_Name = "Emily Saviano"
Student_Majoe = "Undecided"

# Intiger
Student_years_alive = 19
Student_birth_year = 2001

# Boolean
Is_sophomore = True

# Float
Exact_Age_in_years = 19.49

print("Hello" , Greeting)
print("I'm" , This_Student_Name)
print("I am" , Exact_Age_in_years , 'years old.')
print(Student_birth_year)
print(Is_sophomore)

Hello Nice to meet you,
I'm Emily Saviano
I am 19.49 years old.
2001
True

In [12]:
# With whatever variables you'd like demonstrate the following: [Addition, Subtraction, Division, Multiplication, Modulo]. Print all 5.

In [13]:
print(5+5)
print(5-4)
print(11/3)
print(11//3)
print(5*10)
print(75%20)

10
1
3.6666666666666665
3
50
15

In [14]:
# Using 2 variables and addition print the number 57

In [15]:
input1 = 20
input2 = 37

print(input1+input2)

57

In [16]:
# Change this variable to a string and print
number_into_string = 37
new_number_into_string = '37'
print(new_number_into_string)
# Change this variable to a integer and print
string_into_number = '10'
new_string_into_number = 10
print(new_string_into_number)
# Change this variable to a float and print
string_into_float = '299.99'
new_string_into_float = 299.99
print(new_string_into_float)
# Change this variable to a boolean and print
number_into_boolean = 37
37==37

37
10
299.99

True

In [17]:
# Make me a list of any type

In [18]:
years_of_college = ["freshman", 'sophomore', 'junior', 'senior']
typical_ages_in_college = [18, 19, 20, 21, 22]
print(years_of_college, typical_ages_in_college)

['freshman', 'sophomore', 'junior', 'senior'] [18, 19, 20, 21, 22]